{% extends 'base.html' %}
{% load articles_utils %}


{% block main_container %}
    {% if article_list %}
        <table class="table table-responsive">
            <caption class="text-small"><a id="loader" href="{% url 'load_articles' %}">Load more articles</a></caption>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Source</th>
                    <th scope="col">Title</th>
                    <th scope="col">Published</th>
                    <th scope="col">Sentiment</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
            {% for article in article_list %}
                {% with label=article.sentiment_label bs_color=article.sentiment_label|get_sentiment_bs_color %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ article.get_source_display }}</td>
                        <td><strong>{{ article.title }}</strong></td>
                        <td class="text-small">{{ article.published|date:"M d" }}<br/>{{ article.published|date:"P" }}</td>
                        <td class="text-large text-center" title="{{ article.sentiment_score }}">
                            {% if label == 'positive' %}🙂{% elif label == 'negative' %}😠{% else %}😐{% endif %}
                            <div class="progress">
                                <div 
                                    class="progress-bar bg-{{ bs_color }}" role="progressbar"
                                    style="width: {{ article.get_sentiment_percentage }}%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                ></div>
                            </div>
                        </td>
                        <td><a href="{{ article.url }}" target="_blank">Go</a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No data yet. Hold on for a bit and let us take care.
    {% endif %}
{% endblock main_container %}
