<!doctype html>
{% load static %}


<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>NewsFeels</title>
  <meta name="description" content="NewsFeels analyzes the sentiment of new articles and stories from media outlets - powered by IBM's Watson NLU">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1">
        <div id="big_container">
          <h1>
            {% block body_title %}NewsFeels{% endblock body_title %}
          </h1>
          <p><small class="text-muted">Analyzing sentiments of new articles and stories from media outlets - powered by IBM's Watson NLU.</small></p>
          <div id="main_container">{% block main_container %}{% endblock main_container %}</div>
          <p id="about">&copy;2018 Julian Perez - julianperez.me</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
